name: CI Diff Only

on:
  pull_request:
  # Allow manually triggering the workflow.
  workflow_dispatch:

jobs:
  phpcs:
    name: PHP CodeSniffer

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        # Fetch all history so we can diff.
        fetch-depth: 0

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        coverage: none
        tools: cs2pr

    - name: Install Composer dependencies
      uses: ramsey/composer-install@v2

    - name: Run PHPCS on changed files
      run: |
        touch $GITHUB_WORKSPACE/tmp.php
        export CHANGED_FILES=$(git diff --name-only --diff-filter=AM remotes/origin/${{ github.base_ref }} | tr '\n' ' ')
        vendor/bin/phpcs -q -n --ignore=vendor --runtime-set installed_paths vendor/wp-coding-standards/wpcs --standard=WordPress-Core --report=checkstyle $GITHUB_WORKSPACE/tmp.php $(echo $CHANGED_FILES) | cs2pr
